* {
  font-family: "Rubik", sans-serif;
}

body {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
background-color: #08d;
}

#quoteBlock {
text-align: center;
}

.form {
background-color: #15172b;
border-radius: 20px;
padding: 20px;
box-sizing: border-box;
width: 320px; /* Fixed width for consistency, adjust as needed */
height: auto; /* Auto height to contain all fields */
}

.title, .subtitle {
color: #eee;
text-align: center;
font-weight: 600;
}

.title {
font-size: 36px;
margin-top: 30px;
}

.subtitle {
font-size: 16px;
margin-top: 10px;
}

.input-container {
position: relative;
width: 100%;
margin-top: 30px; /* Adjusted spacing */
}

.input {
background-color: #303245;
border-radius: 12px;
border: none;
color: #eee;
font-size: 18px;
outline: none;
padding: 4px 20px 0;
width: 100%;
box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.cut, .cut-short {
background-color: #15172b;
border-radius: 10px;
position: absolute;
top: -20px;
left: 20px;
height: 20px;
transition: transform 200ms;
}

.cut { width: 76px; }
.cut-short { width: 50px; }

.placeholder {
position: absolute;
left: 20px;
top: 20px;
color: #65657b;
transition: transform 200ms, color 200ms;
transform-origin: 0 50%;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut,
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
transform: translateY(8px);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
color: #00FFB2;
transform: translateY(-30px) translateX(10px) scale(0.75);
}

.submit {
background-color: #08d;
border-radius: 12px;
border: none;
color: #eee;
cursor: pointer;
font-size: 18px;
height: 50px;
margin-top: 38px;
width: 100%;
transition: background-color 0.3s;
}

.submit:active {
background-color: #06b;
}

/* Tooltip styles */
.tooltip {
visibility: hidden;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
bottom: 100%;
left: 50%;
margin-left: -60px;
opacity: 0;
transition: opacity 0.3s;
}

.tooltip::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

.input-container:hover .tooltip,
.input-container:focus-within .tooltip {
visibility: visible;
opacity: 1;
}
